.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modalContainer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalContainer .title {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.modalContainer .body {
    min-width: 300px;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}

.titleCloseBtn:hover {
    font-size: 1rem;
}

.modalContainer .footer button:hover {
    opacity: 0.8;
}
