/* #messageContainer::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
/* #messageContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #5a5a66;
} */
/* Handle */
/* #messageContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
} */

/* Handle on hover */
/* #messageContainer ::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
} */

* {
    scrollbar-width: auto;
    scrollbar-color: #116fd4 #fafafa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.4em;
}

*::-webkit-scrollbar-track {
    background: #fafafa;
    box-shadow: inset 0 0 6px #5a5a66;
}

*::-webkit-scrollbar-thumb {
    background-color: #116fd4;
    border-radius: 10px;
    /* border: 3px solid #ffffff; */
}

.contextContainer {
    z-index: 1;
    width: 100%;
    height: 500px;
    background: #673ab7;
}
.rightClick {
    z-index: 12;
    position: fixed;
    background: rgb(240, 200, 1);
}
.menuElement {
    color: #222222;
    cursor: pointer;
    padding: 17px 36px;
}
.menuElement:hover {
    color: #fff;
    background: #009688;
}
html,
body {
    overflow: hidden;
}
